.content {
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
}

.content h1,
.content h2 {
  font-family: Roboto;
  color: var(--quatrain-color);
  margin-bottom: 30px;
}

.content h1 {
  font-size: 40px;
}

.content h2 {
  font-size: 35px;
}

section {
  padding-left: 50px;
}

#section-welcome {
  padding-left: 0;
}

.section-welcome-content {
  padding-left: 50px;
}
.banner {
  height: 500px;
  background-image: url(/assets/img/main-banner.png);
  background-position: center;
  background-size: cover;
}

#section-welcome h1 {
  margin-top: 70px;
}
