/* global */

@import url(./reset.css);
@import url(./sidebar.css);
@import url(./logo.css);
@import url(./content.css);

html {
  font-family: "Poppins", "Sans-serif";
  font-weight: 200;
}

:root {
  --primary-color: #f1faee;
  --secondary-color: #a8dadc;
  --third-party-color: #457b9d;
  --quatrain-color: #1d3557;
  --five-year-color: #e07a5f;
}
